@page
@model WebsiteCrud.CreateModel


<br />
<h2 class="text-info">Create New Song</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method= "post">
        <div class="text-danger" asp-validation-summary="ModelOnly">
            </div>
        </form>
    </div>



