@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>

    <div class="jumbotron">
        <h1 class="display-4">Song Library</h1>
        <p class="lead">You can find the songs, lyrics, artist and various other music related details.</p>
        <hr class="my-4">
        <p>Please explore more in coming section.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">To the library</a>
        </p>
    </div>

    <div class="row">
        <div class="col-9 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/picfir.png" style="width: 286px; height: 220px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1>Timro preet ko kuura</h1>
                    <p class="card-text">The first Nepali Song by the band. </p>
                    <a href="#" class="btn btn-primary">Go to the Song</a>
                </div>
            </div>
        </div>

        <div class="col-9 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/picsec.jpg" style="width: 286px; height: 220px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1>Pareli</h1>
                    <p class="card-text">On the process of composition</p>
                    <a href="#" class="btn btn-primary">Check details</a>
                </div>
            </div>

        </div>
    </div>
    
    


</div>
